@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

.topdiv {
  font-family: "Poppins";
  font-size: 70px;
  text-align: center;
}

.book {
  height: 300px;
  width: 200px;
  background-image: url("./images/book.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
